<h1>単語帳アプリのようなもの</h1>

<% if @login_user.nil? then %>
<% if ! @message.nil? then %>
<%= @message %>
<% end %>
<%= form_with url: login_path, local: true do |f| %>
<%= f.label :name, 'id' %>
<%= f.text_field :name %>
<%= f.submit 'ログイン' %><br/>
<% end %>
<% else %>
<%= @login_user.name %> さん、ようこそ<br/><br/>
<%= form_with url: play_path, local: true do |f| %>
<%= select_tag(:id, options_from_collection_for_select(@wordsets,
    :id, :name)) %><br/>
<%= f.submit 'やるぜ！' %>
<% end %><br/>
<%= form_with url: play_random_path, local: true do |f| %>
<%= f.radio_button(:all, 1) %>全部対象/<%= f.radio_button(:all,
					   0, {:checked => true}) %>今までやったの対象<br/>
<%= f.submit '苦手克服レッスン やるぜ！' %>
<% end %>
<br/><br/><%= link_to 'logout', logout_path %>
<% end %>

<% if !@wordsets.nil? then %>
<hr>
過去の成績
<table>
  <tbody>
    <tr><th>問題集</th><th>問題数</th><th>正答数</th><th>誤答数</th><th>正答率(%)</th><th>挑戦回数</th></tr>
    <% for wordset in @wordsets do %>
    <tr>
      <td><%= link_to wordset.name, wordset_words_path(wordset) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@length) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@ok_count) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@ng_count) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@ok_rate) %></td>
      <td align="right"><%= "%.1f" % wordset.instance_variable_get(:@challenge) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr>
<h2>maintenance menu</h2>

<ul>
<li><%= link_to 'Wordset', wordsets_path %></li>
<li><%= link_to 'User', users_path %></li>
</ul>
