<h1>単語帳アプリのようなもの</h1>

<% if ! @message.nil? then %>
<div class="field_with_errors"><%= @message %></div>
<% end %>
<% if @login_user.nil? then %>
<%= form_with url: login_path, local: true do |f| %>
<%= f.label :name, 'id' %>
<%= f.text_field :name %>
<%= f.submit 'ログイン' %><br/>
<% end %>
<% else %>
<%= @login_user.name %> さん、ようこそ<br/>
単発でやるときは各問題集の「やる！」を、苦手克服レッスンをやるときは
「苦手」のチェックボックスをチェックして「苦手克服レッスンやるぜ！」
ボタンを押そう！
<br/><br/>
<%= form_with url: play_random_path, local: true do |f| %>
<table>
  <tbody>
    <tr><th>苦手</th><th>No.</th><th>問題集</th><th></th><th>問題数</th><th>正答数</th><th>誤答数</th><th>正答率(%)</th><th>挑戦回数</th></tr>
    <% for wordset in @wordsets do %>
    <tr>
      <td><%= f.check_box('wordset_id', {multiple: true}, wordset.id, nil) %></td>
      <td align="right"><%= f.label("wordset_id_" + wordset.id.to_s, wordset.index) %></td>
      <td><%= link_to wordset.name, wordset_words_path(wordset) %></td>
      <td><%= link_to 'やる!', play_wordset_path(wordset.id) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@length) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@ok_count) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@ng_count) %></td>
      <td align="right"><%= wordset.instance_variable_get(:@ok_rate) %></td>
      <td align="right"><%= "%.1f" % wordset.instance_variable_get(:@challenge) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<input type='button' id='btn_select_all' value='全部選択する' onClick='select_all()' /><input type='button' id='btn_select_none' value='全部選択解除' onClick='select_none()' /><br/>
<%= f.submit '苦手克服レッスン やるぜ！' %>
<% end %>
<br/><br/><%= link_to 'logout', logout_path %>
<% end %>
<hr>
<h2>maintenance menu</h2>

<ul>
<li><%= link_to 'Wordset', wordsets_path %></li>
<li><%= link_to 'User', users_path %></li>
</ul>
