<h1>単語帳アプリのようなもの</h1>

<%= @login_user.name %> さん、がんばって！<br/><br/>
<% if !@answer_ok.nil? then %>
<% if @answer_ok then %>
<span class="ok">正解！</span>
<% else %>
<span class="ng">間違い！</span>
<% end %>
<table><tdoby>
<tr>
<td><%= simple_format(h(@prevword.question)) %></td>
<td>: <%= @prevword.answer %> (<%= @answer %>)</td>
<td>○:<%= @score.q_a_ok %>, ×:<%= @score.q_a_ng %></td>
<td><input id="text_speak" type="hidden" value="<%= @prevword.answer %>">
<button id="btn_speak">Speak!</button></td>
</tr>
</tbody></table>
<br/><br/>
<% end %>
<% if @word.nil? then %>
おしまい！お疲れ様でした。<%= @ok %> / <%= @words.length %>点！
<table><tdoby>
<% for word in @ng_words do %>
<tr><td><%= simple_format(h(word.question)) %></td><td><%= word.answer %></td></tr>
<% end %>
</tbody></table>
<% else %>
<%= @word.wordset.name %>
No. <%= @word.index %> あと<%= @words.length - @count %>問<br/><br/>
<%= form_with url: question_path, local: true do |f| %>
<%= f.label :answer, simple_format(h(@word.question)) %>
<%= f.text_field :answer, :autofocus => true, :autocomplete => :off %>
<%= f.submit '答える!' %>
<% end %>
<% end %>
<br/><%= link_to '戻る', root_path %>
<br/><%= link_to 'logout', logout_path %>
