<%= form_with(model: shallow_args(@wordset, @word), local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :wordset_id %>
    <%= form.label @wordset.name %>
  </div>

  <div class="field">
    <%= form.label :index, 'No.' %>
    <%= form.text_field :index %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_area :question, :size => "80x2", :autofocus => true, style: 'width: 95%;' %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, :size => "80", style: 'width: 95%;' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
