<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @word.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @word.answer %>
</p>

<p>
  <strong>Wordset:</strong>
  <%= @word.wordset %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
