<p id="notice"><%= notice %></p>

<p>
  <strong>Wordset:</strong>
  <%= @word.wordset.name %>
</p>

<p>
  <strong>No.:</strong>
  <%= @word.index %>
</p>

<p>
  <strong>Question:</strong>
  <%= @word.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @word.answer %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'New Word', new_wordset_word_path(@word.wordset_id) %> |
<%= link_to 'Back', wordset_words_path(@word.wordset_id) %>
