<%= form_with(model: shallow_args(@group, @wordset), local: true) do |form| %>
  <% if wordset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wordset.errors.count, "error") %> prohibited this wordset from being saved:</h2>

      <ul>
      <% wordset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Group:</strong>
    <%= @wordset.group.name %>
  </div>

  <div class="field">
    <%= form.label :index, 'No.' %>
    <%= form.text_field :index %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
