<p id="notice"><%= notice %></p>

<h1>Wordsets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @wordsets.each do |wordset| %>
      <tr>
        <td><%= wordset.name %></td>
        <td><%= wordset.description %></td>
        <td><%= link_to 'Show', wordset %></td>
        <td><%= link_to 'Edit', edit_wordset_path(wordset) %></td>
        <td><%= link_to 'Destroy', wordset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Words', wordset_words_path(wordset) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wordset', new_wordset_path %>
