<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @wordset.group.name %>
</p>

<p>
  <strong>No.:</strong>
  <%= @wordset.index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @wordset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wordset.description %>
</p>

<%= link_to 'Edit', edit_wordset_path(@wordset) %> |
<%= link_to 'Back', group_wordsets_path(@wordset.group_id) %>
